* text=auto eol=lf

# Preserve the CRLF parser fixture
/test/corpus/crlf.txt -text -whitespace

# Generated parser artifacts
src/*.json linguist-generated
src/parser.c linguist-generated
src/tree_sitter/* linguist-generated

# Generated C declaration
bindings/c/** linguist-generated
